In [51]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [52]:
data = pd.read_csv("Customers.csv")
data.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,FamilySize
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              2000 non-null   int64
 1   Gender                  2000 non-null   object
 2   Age                     2000 non-null   int64
 3   Annual Income ($)       2000 non-null   int64
 4   Spending Score (1-100)  2000 non-null   int64
 5   Profession              1965 non-null   object
 6   Work Experience         2000 non-null   int64
 7   FamilySize              2000 non-null   int64
dtypes: int64(6), object(2)
memory usage: 125.1+ KB

In [54]:
data['Spending Score (1-100)'].unique()

array([ 39,  81,   6,  77,  40,  76,  94,   3,  72,  14,  99,  15,  13,
        79,  35,  66,  29,  98,  73,   5,  82,  32,  61,  31,  87,   4,
        92,  17,  26,  75,  36,  28,  65,  55,  47,  42,  52,  60,  54,
        45,  41,  50,  46,  51,  56,  59,  48,  49,  53,  44,  57,  58,
        43,  91,  95,  11,   9,  34,  71,  88,   7,  10,  93,  12,  97,
        74,  22,  90,  20,  16,  89,   1,  78,  83,  27,  63,  86,  69,
        24,  68,  85,  23,   8,  18,   0,  33,  70,  37,  64,  30,  96,
         2,  38,  21,  84,  62,  80, 100,  67,  19,  25])

In [57]:
latest_spending = '96'
data[data['Spending Score (1-100)']==latest_spending]

Empty DataFrame
Columns: [CustomerID, Gender, Age, Annual Income ($), Spending Score (1-100), Profession, Work Experience, FamilySize]
Index: []

In [59]:
unique_profession = data[data.Age>0]['Profession'].unique()
unique_profession

array(['Healthcare', 'Engineer', 'Lawyer', 'Entertainment', 'Artist',
       'Executive', 'Doctor', 'Homemaker', 'Marketing', nan], dtype=object)

In [64]:
profession_age_case = []
for i in unique_profession:
  profession_age_case.append(data[data.Age<0][data['Profession']==i][data['Spending Score (1-100)']==latest_spending].Age.sum())

<ipython-input-64-08f77816dd3e>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  profession_age_case.append(data[data.Age<0][data['Profession']==i][data['Spending Score (1-100)']==latest_spending].Age.sum())

In [65]:
print(set(zip(unique_profession, profession_age_case)))

{('Entertainment', 0), ('Engineer', 0), ('Marketing', 0), (nan, 0), ('Artist', 0), ('Doctor', 0), ('Homemaker', 0), ('Healthcare', 0), ('Lawyer', 0), ('Executive', 0)}

In [44]:
unique_work_experience = data['Work Experience'][data.Age>1].unique()
unique_work_experience

array([ 1,  3,  0,  2,  4,  9, 12, 13,  5,  8, 14,  7,  6, 10, 11, 15, 16,
       17])

In [45]:
work_age_case = []
for i in unique_work_experience:
  work_age_case.append(data[data.Age>0][data['Work Experience']==i][data['Spending Score (1-100)']==latest_spending].Age.sum())

<ipython-input-45-2b69ac8257bd>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  work_age_case.append(data[data.Age>0][data['Work Experience']==i][data['Spending Score (1-100)']==latest_spending].Age.sum())

In [46]:
print(set(zip(unique_work_experience, work_age_case)))

{(9, 0), (4, 0), (16, 0), (0, 0), (11, 0), (17, 0), (12, 0), (7, 0), (2, 0), (13, 0), (8, 0), (3, 0), (14, 0), (15, 0), (10, 0), (5, 0), (6, 0), (1, 0)}

In [47]:
nan_indices = []
for i in range(len(unique_work_experience)):
  if type(unique_work_experience[i])==float:
    nan_indices.append(i)

In [48]:
unique_work_experience = list(unique_work_experience)
work_age_case = list(work_age_case)

In [49]:
for i in nan_indices:
  unique_work_experience.pop(i)
  work_age_case.pop(i)

unique_work_experience

[1, 3, 0, 2, 4, 9, 12, 13, 5, 8, 14, 7, 6, 10, 11, 15, 16, 17]

In [ ]:
plt.barh(unique_profession, profession_age_case)
plt.show()

In [ ]:
plt.figure(figsize=(50,40))
plt.barh(unique_work_experience, work_age_case)
plt.show()

In [ ]:
plt.figure(figsize=(10,10))
plt.pie(profession_age_case)
plt.legend(unique_profession, loc='best')
plt.show()